<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scraper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
            <li><a href="https://dcabrera1982.github.io/ScrapeHW/" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>